<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<link href="CSS/Main.css" type="text/css" rel="stylesheet"/>
	<link href="CSS/index.css" type="text/css" rel="stylesheet"/>
	<title>index</title>
</head>

<body>
	<div id="mainFrame">
		<div id="header">
			<div id="menu">
				<ul>
					<li><a href="http://www.google.com">首页</a></li>
					<li><a href="http://www.google.com">首页</a></li>
					<li><a href="http://www.google.com">首页</a></li>
					<li><a href="http://www.google.com">首页</a></li>
					<li><a href="http://www.google.com">首页</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div id="PersonRank">
			</div>
			<div id="PersonBlock">
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<dl class="personDl">
					<dt>
						<a href="http://www.google.com" class="personA">
							<img src="Images/test.jpg" alt="风枫峰" class="personImg"/>
						</a>
					</dt>
					<dd>
						<a href="http://www.google.com">
							风枫峰
						</a>
					</dd>
				</dl>
				<br clear="all">
			</div>
			<div id="ArticleBlock">
				<ul id="ArticleList" >
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					<li>
						<span class="ArticleTitle"><a href="http://www.google.com">一篇好的文章是怎样练成的！</a></span>
						<span class="stars" title="力荐"></span>
					</li>
					
			    </ul>
			</div>
			<div id="ArticleRank"></div>	
		</div>
		<div id="footer"></div>
	</div>
</body>
</html>
